@page
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Task Manager!</h1>
    <p class="lead">Organize and manage your tasks effectively.</p>
    <hr class="my-4">
    <p>Click below to start managing tasks.</p>
    <a class="btn btn-primary btn-lg" href="/ManageTasks" role="button">Manage Tasks</a>
</div>
