@page
@{
    ViewData["Title"] = "Home";
}

<div class="container text-center my-5">
    <div class="jumbotron jumbotron-fluid bg-info text-white rounded">
        <div class="container py-5">
            <h1 class="display-4 font-weight-bold">Welcome to Task Manager!</h1>
            <p class="lead mb-4">Efficiently organize and manage your tasks with ease.</p>
            <hr class="my-4">
            <p class="mb-4">Click below to start managing your tasks and boost your productivity!</p>
            <a class="btn btn-light btn-lg font-weight-bold" href="/ManageTasks" role="button">Start Managing Tasks</a>
        </div>
    </div>
</div>

